@model SAPP.Models.Peso

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Peso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quilos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quilos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dtpesagem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dtpesagem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Animal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Animal.Tag)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Back to List</a>
</div>
